
<div class="intro-lap-area-wrapper">
    <p>Laptop</p>
    <div class="price-caterogy">
        <p class="title-price">Tầm giá</p>
        <button>Dưới 10 triệu</button>
        <button>Từ 10 - 15 triệu</button>
        <button>Từ 15 - 20 triệu</button>
        <button>Từ 20 - 30 triệu</button>
        <button>Từ 30 - 40 triệu</button>
        <button>Trên 40 triệu</button>
    </div>  
    <div class="list-laptop">
        <app-laptop></app-laptop>
        <app-laptop></app-laptop>
        <app-laptop></app-laptop>
        <app-laptop></app-laptop>
        <app-laptop></app-laptop>
        <app-laptop></app-laptop>
        <app-laptop></app-laptop>
        <app-laptop></app-laptop>
        <app-laptop></app-laptop>
        <app-laptop></app-laptop>
    </div>
    <button type="button" class="btn btn-outline-primary view-more-btn">Xem tất cả</button>
</div>