.intro-lap-area-wrapper {
    max-width: 1250px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.intro-lap-area-wrapper p {
    color: #0099CC;
    font-size: 24px;
    font-weight: 500;
}

.title-price {
    font-size: 16px !important; 
    color: #15697F; 
    display: inline;
    margin-right: 20px;
}

.price-caterogy {
    margin-bottom: 8px;
}

.price-caterogy button{
    border: none;
    border-radius: 20px;
    display: inline;
    background-color: #D6D6D6;
    padding: 4px 16px;
    margin-right: 16px;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 14px;
}

.list-laptop {
    display: grid;
    grid-template-columns: 19.4% 19.4% 19.4% 19.4% 19.4%;
    grid-template-rows: auto;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}

@media screen and (max-width: 1026px) {
    .list-laptop {
        grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
    }
}

@media screen and (max-width: 850px) {
    .list-laptop {
        grid-template-columns: 32.4% 32.4% 32.4%;
    }
}
