<div class="category-body-wrapper container">
    <div class="nav-address">
        <a href="#" class="home">
            Trang chủ
        </a>
        <a href="#" class="laptop brand">
            Laptop
        </a>
    </div>
    <app-brand-logo></app-brand-logo>
    <p class="title">Laptop</p>
    <span>Tổng cộng có x sản phẩm</span>
    <div class="order-dropdown">
        <select name="order" id="order" class="order-dropdown-control">
            <option value="best-sell">Bán chạy</option>
            <option value="price_increase">Giá thấp</option>
            <option value="price_decrease">Giá cao</option>
        </select>
    </div>
    
    <app-button-categogy-brand brand-name="Dell"></app-button-categogy-brand>

    <button class="text-delete-fill">Xóa tất cả</button>

    <div class="row spacing-top">
        <div class="product-filter  col-sm-2">
            <ng-container *ngFor="let item of ListFilter">
                <app-button-category-type [filter-object]="item"></app-button-category-type>
            </ng-container>
        </div>
        <div class="list-laptop col-sm-10">
            <app-laptop></app-laptop>
            <app-laptop></app-laptop>
            <app-laptop></app-laptop>
            <app-laptop></app-laptop>
            <app-laptop></app-laptop>
            <app-laptop></app-laptop>
            <app-laptop></app-laptop>
            <app-laptop></app-laptop>
            <app-laptop></app-laptop>
            <app-laptop></app-laptop>
            <app-laptop></app-laptop>
        </div>       
    </div>
    <div class="text-center spacing-top">
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a href="#" class="active">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
        </div>
    </div>   
</div>
