.spacing-top {
  margin-top: 20px;
}

.category-body-wrapper {
  width: 1250px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}


/*button category*/
.category-type-btn {
  position: relative;
  margin-top: 5px;
  width: 100%;
  border: none;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
}

.category-type-btn:first-child {
  margin-top: 0;
}
.category-type-btn i {
  position: absolute;
  right: 8px;
  top: 14px;
}


.text-normal {
 
}

.icon-dropdown {
  font-size: 24px;
  vertical-align: middle;
  margin-left: 5px;
}

.text-delete-fill {
  margin-left: 16px;
  color: #e43939;
  font-weight: 500;
  border: none;
  outline: none;
  background-color: transparent;
}

.order-dropdown{
  display: inline-block;
  height: 32px;
  border-radius: 16px;
  background-color: #d6d6d6;
  margin-left: 38px;
  padding: 4px 12px;
  cursor: pointer;
}

.order-dropdown-control{
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 0.9rem;
  font-weight: 500;
}

.list-laptop {
  position: relative;
  display: grid;
  grid-template-columns: 24.3% 24.3% 24.3% 24.3%;
  grid-template-rows: auto;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  padding-left: 0.5rem;
  height: fit-content;
}

/* pagination --------------------------------------------- */
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #0099cc;
  color: white;
  border-radius: 20px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 20px;
}

.nav-address {
  display: flex;
}

.nav-address .home,
.nav-address .laptop {
  /* display: inline-block; */
  margin-top: 16px;
  height: 32px;
  padding: 2px 12px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: #d6d6d6;
}

.nav-address .home {
  z-index: 1;
}
.nav-address .brand {
  margin-left: -16px;
  padding-left: 26px;
  background-color: #c5c5c5;
  z-index: 0;
}

.product-filter {
  padding-right: 0px;
}

.no-padding{
  padding: 0;
}

.loading-img{
  width: 100%;

  display: flex;
  justify-content: center;
}

.loading-img img{
  height: 68px;
  margin-top: 32px;
}

.not-found {
  display: flex;
  margin-top: 32px;
  font-weight: 500;
  flex-direction: column;
  align-items: center;
}

.not-found img {
  max-width: 300px;
  margin-bottom: 32px;
}

.btn-blue {
  color: #0099cc;
}
