<div class="category-body-wrapper">
    <p class="title-laptop">Laptop</p>
    <span>Tổng cộng có x sản phẩm</span>
    <span class="text-normal"> Sắp xếp</span>
    <i class="fas fa-angle-down icon-dropdown"></i>
    <button class="category-brand-btn" type="button">Dell
        <i class="fas fa-times"></i>
    </button>
    <button class="text-delete-fill">Xóa tất cả</button>

    <div class="row spacing-top">
        <div class="col-sm-2 nopadding">
            <Button class="category-type-btn">Thương hiệu
                <i class="fas fa-plus"></i>
            </Button>
            <Button class="category-type-btn">Khoảng giá
                <i class="fas fa-plus"></i>
            </Button>
            <Button class="category-type-btn">Nhu cầu
                <i class="fas fa-plus"></i>
            </Button>
            <Button class="category-type-btn">CPU
                <i class="fas fa-plus"></i>
            </Button>
            <Button class="category-type-btn">RAM
                <i class="fas fa-plus"></i>
            </Button>
            <Button class="category-type-btn">Ổ cứng
                <i class="fas fa-plus"></i>
            </Button>
            <Button class="category-type-btn">Kích thước màn hình
                <i class="fas fa-plus"></i>
            </Button>
            <Button class="category-type-btn">Tấm nền màn hình
                <i class="fas fa-plus"></i>
            </Button>
            <Button class="category-type-btn">Tần số quét
                <i class="fas fa-plus"></i>
            </Button>
            <Button class="category-type-btn">Độ phân giải
                <i class="fas fa-plus"></i>
            </Button>
            <Button class="category-type-btn">Card đồ họa
                <i class="fas fa-plus"></i>
            </Button>
            <Button class="category-type-btn">Trọng lượng
                <i class="fas fa-plus"></i>
            </Button>
        </div>
        <div class="container list-laptop col-sm-10">
            <app-laptop></app-laptop>
            <app-laptop></app-laptop>
            <app-laptop></app-laptop>
            <app-laptop></app-laptop>
            <app-laptop></app-laptop>
            <app-laptop></app-laptop>
            <app-laptop></app-laptop>
            <app-laptop></app-laptop>
            <app-laptop></app-laptop>
            <app-laptop></app-laptop>
            <app-laptop></app-laptop>
        </div>       
    </div>
    <div class="text-center spacing-top">
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a href="#" class="active">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
        </div>
    </div>   
</div>
