<button class="category-type-btn" (click)="onClickFilter()">
  {{ filter.title }}
  <i [id]="filter.title + 'isExtend'" class="fas fa-plus"></i>
</button>

<div
  class="groupFilter-container"
  [id]="filter.title + 'groupCollapse'"
  style="display: none">
  
  <ng-container *ngFor="let item of filter.detailFilter">
    <label class="label-checkbox" [for]="'id' + item.toLowerCase()">
      <input
        class="filter-checkbox"
        type="checkbox"
        [value]="item"
        [id]="'id' + item.toLowerCase()"
        (click)="getTheText($event, this.filter.title)"
      />
      {{ item }}
    </label>
  </ng-container>
</div>
