<div class="header-order-page fixed-top">
    <div class="header-order-wrapper">
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="logo col-sm-2">
                    <p>WA<span style="color: black;">VI</span></p>
                </div>
                <div class="title-process-order col-sm-9">
                    Cổng thanh toán | địa chỉ giao hàng
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container order-body-wrapper">
    <div class="list-address-wrapper">
        <label class="title-address-order">Địa chỉ giao hàng</label>
        <div class="address-order-wrapper">
            <div class="icon-delete-wrapper">
                <i class="fas fa-times icon-delete"></i>
            </div>  
            <div class="row address-content-wrapper">
                <div class="col-sm-3">
                    <label class="customer-name">Nguyễn Trọng Khanh</label>
                    <label>Số điện thoại: 0399.529.209</label>
                </div>
                <div class="col-sm-6">
                    <label>Địa chỉ: Ký túc xá khu A, Đại học quốc gia thành phố Hồ Chí Minh, Phường Đông Hòa, Thị Xã Dĩ
                        An, Bình Dương</label>
                </div>
                <div class="col-sm-3">
                    <div class="handle-address-wrapper">
                        <button class="btn-confirm-address">Giao đến đây</button>
                        <button class="btn-update-address">Chỉnh sửa</button>
                    </div>
                </div>
            </div>
        </div>      
    </div>
</div>
<app-footer-web></app-footer-web>