.container{
    max-width: 1250px;
}

.header-order-page {
    height: 108px;
    background-color: white;
}

.header-order-wrapper {
    height: 100%;
    position: relative;
    z-index: 1;
    box-shadow: 0px 1px 6px #808080;
}

.header-order-wrapper::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    border-bottom: 3px solid #0099CC;
}

.logo {
    font-size: 48px;
    color: #0099CC;
    font-weight: 700;
}

.title-process-order {
    font-size: 28px;
    color: #0099CC;
}
/* body ****************** */
.order-body-wrapper {
    margin-top: 60px;
}

.list-address-wrapper {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
}
.title-address-order {
    font-size: 24px;
    font-weight: bold;
}
.address-order-wrapper {
    border: 1px solid #0099CC;
    border-left: 2rem solid #0099CC;
    border-radius: 5px;
    margin-top: 32px
}
.address-order-wrapper-not {
    border: 1px solid #707070;
    border-left: 2rem solid #707070;
    border-radius: 5px;
    margin-top: 32px
}

.address-content-wrapper {
    padding: 1rem;
}
.customer-name {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.handle-address-wrapper {
    padding-top: 0.5rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.btn-confirm-address {
    background-color: #0099CC;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}
.btn-update-address {
    background-color: transparent;
    color: black;
    border: none;
    padding: 5px 10px 5px 10px;
}
.icon-delete-wrapper {
    position: relative;
    width: 100%;
    text-align: right;
}
.icon-delete {
    border-top-right-radius: 5px;
    position: absolute;
    top: -1px;
    right: -1px;
    height: 26px;
    width: 26px;
    background-color: #FF5858;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
}
.add-address-question {
    margin-top: 0.5rem;
    margin-left: 2rem;
    margin-bottom: 0.5rem;
}
/* add form */
::placeholder {
    color: #707070 !important;
    font-style: normal;
}

.add-address-form-wrapper {
    background-color: white;
    height: auto;
    border-radius: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.next-step-btn-wrapper {
    margin-top: 32px;
    text-align: right;
    margin-right: 2rem;
}
.btn-next-step {
    background-color: #0099CC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}
.add-address-form {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.add-address-form input,
.add-address-form select
{
    padding: 4px 8px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #808080;
}

.add-address-form div {
    margin-top: 0.5rem;
}

.comfirm-add-address-wrapper {
    text-align: right;
}
.comfirm-add-address-wrapper button { 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}
.btn-cancel-add {
    background-color: #707070;
    margin-right: 5px;
}
.btn-confirm-add {
    background-color: #0099CC;
}

select option {
    color: black;
    padding: 4px 8px;
}