<div class="header-order-page fixed-top">
    <div class="header-order-wrapper">
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="logo col-sm-2">
                    <a href="home"><p>WA<span style="color: black;">VI</span></p></a>
                </div>
                <div class="title-process-order col-sm-9">
                    Cổng thanh toán | địa chỉ giao hàng
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container order-body-wrapper">
    <!-- <div class="list-address-wrapper">
        <label class="title-address-order">Địa chỉ giao hàng</label>
        <div class="address-order-wrapper">
            <div class="icon-delete-wrapper">
                <button class="icon-delete"><i class="fas fa-times"></i></button>
            </div> 
            <div class="row address-content-wrapper">
                <div class="col-sm-3">
                    <label class="customer-name">Nguyễn Trọng Khanh</label>
                    <label>Số điện thoại: 0399.529.209</label>
                </div>
                <div class="col-sm-6">
                    <label>Địa chỉ: Ký túc xá khu A, Đại học quốc gia thành phố Hồ Chí Minh, Phường Đông Hòa, Thị Xã Dĩ
                        An, Bình Dương</label>
                </div>
                <div class="col-sm-3">
                    <div class="handle-address-wrapper">
                        <button class="btn-confirm-address" style="visibility:hidden;">Giao đến đây</button>
                        <button class="btn-update-address">Chỉnh sửa</button>
                    </div>
                </div>
            </div>
        </div>      

        <div class="address-order-wrapper-not">
            <div class="icon-delete-wrapper">
                <button class="icon-delete"><i class="fas fa-times"></i></button>
            </div> 
            <div class="row address-content-wrapper">
                <div class="col-sm-3">
                    <label class="customer-name">Nguyễn Trọng Khanh</label>
                    <label>Số điện thoại: 0399.529.209</label>
                </div>
                <div class="col-sm-6">
                    <label>Địa chỉ: Ký túc xá khu A, Đại học quốc gia thành phố Hồ Chí Minh, Phường Đông Hòa, Thị Xã Dĩ
                        An, Bình Dương</label>
                </div>
                <div class="col-sm-3">
                    <div class="handle-address-wrapper">
                        <button class="btn-confirm-address">Giao đến đây</button>
                        <button class="btn-update-address">Chỉnh sửa</button>
                    </div>
                </div>
            </div>
        </div>    

    </div> -->
    <!-- <div class="add-address-question">
        <span>Bạn muốn giao hàng đến địa chỉ khác? </span>
        <span> Thêm địa chỉ giao hàng mới</span>
    </div> -->
    <div class="add-address-form-wrapper">
        <div class="add-address-form">
            <label class="title-address-order">Địa chỉ giao hàng</label>
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="errorInput !=''">
                <strong>Oops!</strong> {{errorInput}}
              </div>
            <div>
                <label class="col-sm-5">Họ và tên</label>
                <input class="col-sm-7" name="hoTen" type="text" placeholder="Nhập họ tên"/>
            </div>
            <div>
                <label class="col-sm-5">Điện thoại di động</label>
                <input class="col-sm-7" name="sdt" type="text" placeholder="Nhập số điện thoại"/>
            </div>
            <div>
                <label class="col-sm-5">Tỉnh/Thành phố</label>
                <select id="tinh" class="col-sm-7" name="tinhTP" title="Chọn Tỉnh/Thành phố" (change)="onChangeProvice($event)">
                    <option value="" disabled selected hidden class="title-select">Chọn Tỉnh/Thành phố</option>
                    <ng-container *ngFor="let province of listProvince">
                        <option *ngIf="province['Title'] != 'Chưa rõ'" [id]="province['ID']" [value]="province['ID']">{{ province['Title'] }}</option>
                    </ng-container>
                </select>
            </div>
            <div>
                <label class="col-sm-5">Quận/Huyện</label>
                <select id="huyen" class="col-sm-7" name="quanHuyen" title="Quận/Huyện" (change)="onChangeProvice_H($event)">
                    <option value="" disabled selected hidden class="title-select">Quận/Huyện</option>
                    <ng-container *ngFor="let province_H of listProvince_H">
                        <option *ngIf="province_H['Title'] != 'Chưa rõ'" [id]="province_H['ID']" [value]="province_H['ID']">{{ province_H['Title'] }}</option>
                    </ng-container>
                </select>
            </div>
            <div>
                <label class="col-sm-5">Phường/Xã</label>
                <select id="xa" class="col-sm-7" name="phuongXa" title="Phường/Xã">
                    <option value="" disabled selected="selected" hidden>Chọn Phường/Xã</option>
                    <ng-container *ngFor="let province_X of listProvince_X">
                        <option *ngIf="province_X['Title'] != 'Chưa rõ'" [id]="province_X['ID']" [value]="province_X['ID']">{{ province_X['Title'] }}</option>
                    </ng-container>
                </select>
            </div>
            <div>
                <label class="col-sm-5">Tòa nhà/Tên đường</label>
                <input class="col-sm-7" name="tenDuong" type="text" placeholder="Nhập địa chỉ cụ thể; VD: 23/11 Nguyễn Văn Mại"/>
            </div>
            <!-- <div class="comfirm-add-address-wrapper">
                <button class="btn-cancel-add">Hủy</button>
                <button class="btn-confirm-add">Giao đến đây</button>
            </div> -->
        </div>
    </div>
    <a (click)="nextStep()">
        <div class="next-step-btn-wrapper">
            <button class="btn-next-step">Bước tiếp theo</button>
        </div>
    </a>
    
</div>