
<div class="container">
     <div class="nav-address">
          <a routerLink="/home" class="home">
              Trang chủ
          </a>
          <a routerLink="/category-lap" class="laptop brand">
              Laptop
          </a>
      </div>
     
     <app-product-info [laptopObject]="laptopObject"></app-product-info>
     <!--Product information-->
     <app-product-introduce [laptopObject]="laptopObject"></app-product-introduce>
     <!--Introduce Product-->
     <app-product-review [laptopObject]="laptopObject"></app-product-review>
     <!--Review-->
</div>
