<div class="product-review-container">
     <div class="product-review-wrapper">
          <div class="product-review">
               <div class="product-review__title">
                    <h3 class="review-title">Đánh giá</h3>
                    <button class="write-review">
                         <h5>Viết đánh giá</h5>
                    </button>
               </div>
               <div class="product-review__star-rate">
                    <h3>4</h3>
                    <div class="star">
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="far fa-star"></i>
                    </div>
                    <p class="rate-number"><span style="font-weight: bold;">9</span> lượt đánh giá</p>
               </div>

               <div class="product-reivew__review">
                    <div class="name">
                         Nguyen van A
                    </div>
                    <div class="review-star">
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="far fa-star"></i>
                    </div>
                    <div class="content">
                         San pham rat tot trong tam gia
                    </div>
               </div>

               <div class="product-reivew__review">
                    <div class="name">
                         Nguyen van dep trai vo doi nhat Viet Nam
                    </div>
                    <div class="review-star">
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="far fa-star"></i>
                    </div>
                    <div class="content">
                         Pin khỏe làm việc cả ngày
                    </div>
               </div>


               <div class="show-more">
                    <button class="show-more-btn">
                         Xem thêm
                    </button>
               </div>
          </div>

          <div class="product-comment">
               <h3>Bình luận</h3>
               <p class="comment-number"><span style="font-weight: bold;">9</span> lượt bình luận</p>

               <div class="new-comment">
                    <div class="new-comment__title">
                         Bình luận của bạn
                    </div>
                    <textarea name="newcomment" id="newcomment" rows="5" class="txt-area-comment" placeholder="Bạn cảm thấy thế nào về sản phẩm..."></textarea>

                    <button class="send-comment-btn">
                         Gửi
                    </button>
               </div>

               <div class="comment">
                    <div class="avatar">
                         <img src="../../assets/imgs/apple.png" alt="user">
                    </div>
                    <div class="name">
                         Nguyen Van B
                    </div>
                    <div class="comment-box">
                         Sản phẩm tốt trong tầm giá
                    </div>
               </div>

               <div class="comment">
                    <div class="avatar">
                         <img src="../../assets/imgs/apple.png" alt="user">
                    </div>
                    <div class="name">
                         Nguyen Van C
                    </div>
                    <div class="comment-box">
                         Sản phẩm tốt trong tầm giá, Ngon bổ rẻ
                    </div>
               </div>

               <div class="pagination">
                    <a href="#">&laquo;</a>
                    <a href="#">1</a>
                    <a href="#" class="active">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">&raquo;</a>
                </div>
          </div>
     </div>
</div>
