<div class="header-order-page fixed-top">
    <div class="header-order-wrapper">
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="logo col-sm-2">
                    <p>WA<span style="color: black;">VI</span></p>
                </div>
                <div class="title-process-order col-sm-9">
                    Cổng thanh toán | địa chỉ giao hàng
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container payment-body-wrapper">
    <div class="payment-method-wrapper">
        <label class="title-payment-method">Phương thức thanh toán</label>
        <div class="radio-payment-wrapper">
            <input type="radio" name="payment" id="cod" value="cod"/>
            <label for="cod">Thanh toán tiền mặt khi nhận hàng</label><br>
            <input type="radio" name="payment" id="atm" value="atm"/>
            <label for="atm">Qua thẻ ATM / Internet banking</label><br>
            <input type="radio" name="payment" id="momo" value="momo"/>
            <label for="momo">Thanh toán qua Momo</label><br>
            <input type="radio" name="payment" id="zalo" value="zalo"/>
            <label for="zalo">Thanh toán qua ZaloPay</label>
        </div>
    </div>
    <div class="info-order-wrapper">
        <label class="title-info-wrapper">Thông tin đơn hàng</label>
        <div class="row address-info-wrapper">
            <div class="col-sm-10">
                <label class="title-label">Địa chỉ giao hàng:</label>
                <br>
                <div class="name-and-address">
                    <label style="font-weight: bold;">Nguyễn Trọng Khanh</label>
                    <span>, </span>
                    <label>Ký túc xá khu A, Đại học quốc gia thành phố Hồ Chí Minh, Phường Đông Hòa, Thị Xã Dĩ An, Bình Dương</label>
                    <br>
                </div>  
                <label>Điện thoại: 0399.529.209</label>
            </div>
            <div class="col-sm-2 change-btn-wrapper">
                <button class="change-btn">Thay đổi</button>
            </div>
        </div>
        <hr>
        <div class="row product-info-wrapper">
            <div class="col-sm-10">
                <label class="title-label">Sản phẩm: </label>
                <div class="list-product">
                    <label>
                        <span style="font-weight: bold;">Asus ROG Zephyrus G15</span>
                        (i7 10510U, RAM 16GB) x1
                    </label>
                </div>
            </div>  
            <div class="col-sm-2 change-btn-wrapper">
                <button class="change-btn">Thay đổi</button>
            </div>  
        </div>
    </div>
    <div class="confirm-order-btn-wrapper">
        <button class="confirm-order-btn">Đặt hàng</button>
    </div> 
    <div class="notting-order-wrapper">
        <label class="order-note">Vui lòng kiểm tra kĩ thông tin đơn hàng trước khi tiến hàng Đặt hàng</label>
    </div>
</div>
<app-footer-web></app-footer-web>