<div class="laptop-item">
    <a [routerLink]="['/product-detail', laptopObject.id]">
        <div class="img-wrapper">
            <img class="img-fluid" [src]="getImageLink()" alt="Laptop" />
          </div>
          <div class="laptop-detail">
            <div class="laptop-info">
              <p class="laptop-name">{{ getName() }}</p>
              <p class="laptop-config">{{ getConfig() }}</p>
              <p class="laptop-price">{{ getPrice() }}</p>
            </div>
          </div>
    </a>

    <div class="btn-add-to-cart">
        <button class="btn-outline-primary" (click)="buttonCartOnClick()">
          <i class="fas fa-shopping-cart"></i>Thêm vào giỏ hàng
        </button>
    </div>
</div>
