<div class="laptop-item">
    <div class="img-wrapper">
        <img  class="img-fluid" src="../../assets/imgs/laptop.png" alt="Laptop">
    </div>   
    <div class="laptop-detail">
        <div class="laptop-info">
            <p class="laptop-name">Dell XPS 13 7390</p>
            <p class="laptop-config">i7 10510U, RAM 16GB</p>
            <p class="laptop-price">30.000.000đ</p>
        </div>   
        <div class="btn-add-to-cart">
            <button class="btn-outline-primary">Thêm vào giỏ hàng</button>
        </div>
    </div>
</div>
