.container{
    max-width: 1250px;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.list-lap-cart {
    border-radius: 10px;
    background-color: white;
    padding-bottom: 2rem;
}

.title-cart {
    font-size: 28px;
    font-weight: bold;
    margin-right: 1rem;
}

.result-cart {
    border-radius: 10px;
    background-color: white;
    padding-top: 1.5rem;
}

.total-price {
    font-size: 18px;
    font-weight: bold;
    color: #D44848;
    text-align: right;
}

.vat-info-wrapper {
    width: 100%;
    text-align: right;
    padding-right: 1rem;
}

.vat-info {
    font-size: 12px;
    color: #7B7B7B;
}

.btn-processing-order {
    margin-top: 1rem;
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #0099CC;
    color: white;
    font-weight: bold;
}