<app-head-web></app-head-web>
<div class="row container">
    <div class="col-sm-9 list-lap-cart">
        <span class="title-cart">Giỏ hàng</span>
        <span>(x sản phẩm)</span>
        <app-laptop-in-cart></app-laptop-in-cart>
        <app-laptop-in-cart></app-laptop-in-cart>
        <app-laptop-in-cart></app-laptop-in-cart>
    </div>
    <div class="col-sm-3">
        <div class="result-cart row-sm-2">
            <label class="col-sm-6">Thành tiền:</label>
            <label class="total-price col-sm-6">90.000.000đ</label>
            <div class="vat-info-wrapper">
                <label class="vat-info">Giá đã bao gồm VAT nếu có</label>
            </div>        
        </div>
        <button class="btn-processing-order">Tiến hành đặt hàng</button>
    </div>
</div>
<app-footer-web></app-footer-web>