
<div class="row container">
    <div class="col-sm-9 list-lap-cart">
        <span class="title-cart">Giỏ hàng</span>
        <span>{{ products.length }} sản phẩm</span>
        <ng-container *ngFor="let item of products">
            <app-laptop-in-cart [laptopObject]="item"></app-laptop-in-cart>
        </ng-container>
    </div>
    <div class="col-sm-3 total">
        <div class="result-cart">
            <div class="payment-price">
                <label>Thành tiền:</label>
                <label class="total-price">{{ formatCurrency(getTotalPrice()) }}</label>
            </div>
            <div class="vat-info-wrapper">
                <label class="vat-info">Giá đã bao gồm VAT nếu có</label>
            </div>        
        </div>
        <a routerLink="/address-order"><button class="btn-processing-order">Tiến hành đặt hàng</button></a>
    </div>
</div>
