<div class="row">
    <div class="col-sm-3">
        <div class="laptop-image">
            <img  class="img-fluid" src="../../assets/imgs/laptop.png" alt="Laptop">
        </div>
    </div>
    <div class="col-sm-7">
        <div class="laptop-info-wrapper">
            <label class="laptop-info-text">Asus ROG Zephyrus G15</label>
            <label class="laptop-info-text">i7 10510U, RAM 16GB</label>
            <button class="btn-delete">Xóa</button>
        </div>    
    </div>
    <div class="col-sm-2">
        <div class="price-wrapper">
            <label class="price">30.000.000đ</label>
        </div>
    </div>
</div>