.laptop-image {
    margin-top: 1rem;
}

.laptop-info-wrapper {
    margin-top: 1rem;
}

.laptop-info-text {
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.btn-delete {
    border: none;
    background-color: transparent;
    color: #FF5858;
}

.price-wrapper {
    margin-top: 1rem;
    text-align: right;
}

.price {
    font-size: 18px;
    font-weight: 500;
}