.new-lap-area-wrapper {
    max-width: 1250px;
    height: auto;
    margin-top: 1rem;
}

.new-lap-area-wrapper p {
    color: #0099CC;
    font-size: 24px;
    font-weight: 500;
}

.list-laptop {
    display: grid;
    grid-template-columns: 19.4% 19.4% 19.4% 19.4% 19.4%;
    grid-template-rows: auto;
    column-gap: 0.5rem;
}