/*bootstrap css*/
.navbar {
    padding: 0;
    height: 64px;
}
.navbar-dark{
    background-color: #000;
}

/******************/
.icon-inheader{
    color: #70DBFF;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.container{
    max-width: 1250px;
    padding: 0;
}
.icon-inheader i {
    color: #70DBFF;
    font-size: 1.4rem;
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
}
.icon-inheader span {
    display: inline-block;
    vertical-align: middle;
}

.text-inheader{
    display: inline;
    color: #70DBFF;
    font-size: 18px;
    padding-left: 5px;
}

.icon-left {
    justify-content: flex-start;
}

.icon-left .icon-inheader:first-child {
    margin-right: 32px;
}

.icon-right {
    justify-content: flex-end;
}

.icon-right .icon-inheader{
    margin-left: 32px;
}
.icon-right .icon-inheader:last-child{
    margin-right: 16px;
}

.logo-container {
    color: #0099CC;
    font-size: 32px;
    height: 100%;
    text-align: center;
}
.logo{
    transform: translateY(0.5rem);
}

.search-input {
    border-radius: 20px;
}