<ng-container>
    <div class="navbar navbar-dark navbar-expand-md fixed-top">
        <div class="container">
            <button class="open-sidebar-btn" (click)="openSideBar()">
                <span>&#9776;</span>
            </button>
            <div id="logoContainer" [ngClass]="logoClass">
                <div class="logo">
                    <a href="/">
                        <p style="color: #0099CC;">WA<span style="color: aliceblue">VI</span></p>
                    </a>
                </div>
            </div>
            <div class="row col-sm-3 icon-left">
                <div class="icon-inheader">
                    <i class="fas fa-laptop"></i>
                    <span class="text-inheader">Laptop</span>
                </div>
                <div class="icon-inheader">
                    <i class="fas fa-headphones"></i>
                    <span class="text-inheader">Phụ kiện</span>
                </div>
            </div>
            <div [ngClass]="searchBoxClass">
                <form>
                    <input type="search" class="form-control search-input" placeholder="Tìm kiếm" aria-label="Search"
                        name="searchBox" />
                    <i class="fas fa-search icon-search"></i>
                </form>
            </div>
            <div [ngClass]="iconRightClass">
                <div class="icon-inheader">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="text-inheader">Giỏ hàng</span>
                </div>
                <div class="icon-inheader">
                    <!-- <i class="fas fa-sign-in-alt"></i> -->
                    <span class="text-inheader">Trọng Khanh</span>
                </div>
            </div>
        </div>
    </div>

    <app-sidebar-web [isVisible]="isSideBarOpen" (closeSideBar)="closeSideBar()"></app-sidebar-web>
</ng-container>