/*bootstrap css*/
.navbar {
    padding: 0;
    height: 56px;
    z-index: 1;
}
.navbar-dark{
    background-color: #000;
}

/******************/
.container{
    max-width: 1250px;
    padding: 0;
}

.icon-inheader{
    color: #70DBFF;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    transition: 0.2s;
}

.icon-inheader:hover{
    color:  #0099CC;
}
.icon-inheader i {
    font-size: 1.4rem;
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
}
.icon-inheader span {
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
}

.text-inheader{
    display: inline;
    font-size: 18px;
    padding-left: 5px;
}

.icon-left {
    height: 100%;
    display: grid;
    grid-template-columns: 49.4% 49.4%;
    text-align: center;
}

.icon-right {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.icon-right .icon-inheader{
    margin-left: 16px;
}
.icon-right .icon-inheader:last-child{
    margin-right: 16px;
}

.search-input {
    border-radius: 20px;
    max-width: 377px;
    display: inline-block;
    background-color: #464646;
    color: white;
    font-weight: 500;
    outline: none;
    border: none;
}

.icon-search{
    font-size: 1.25rem;
    color: #D6D6D6;
    display: inline-block;
    margin-left: -32px;
}

.open-sidebar-btn{
    font-size: 36px;
    display: none;
}

@media screen and (max-width: 1026px) {

    .open-sidebar-btn {
        margin-left: 16px;
        display: inline-block;
        background-color: transparent;
        color: #D6D6D6;
        border: none;
        outline: none;
    }

    .icon-left {
        display: none;
    }

    .icon-right .text-inheader{
        display: none;
    }

    .icon-right .icon-inheader{
        margin-right: 0;
        margin-left: 0;
    }

    .search-input {
        max-width: 600px;
    }
}

@media screen and (max-width: 575px) {
    .icon-right .icon-inheader:last-child{
        margin-right: 0px;
    }
}

@media screen and (max-width: 390px) {
    #searchBoxDiv {
        display: none;
    }
}