<div class="img-brand-wrapper">
     <a href="category-lap?brand=dell" class="logo-img">
          <img src="../../assets/imgs/dell.png" alt="DELL" class="img-fluid">
     </a>
     <a href="category-lap?brand=asus" class="logo-img">
          <img src="../../assets/imgs/asus.png" alt="ASUS" class="img-fluid">
     </a>
     <a href="category-lap?brand=hp" class="logo-img">
          <img src="../../assets/imgs/hp.png" alt="HP" class="img-fluid">
     </a>
     <a href="category-lap?brand=apple" class="logo-img">
          <img src="../../assets/imgs/apple.png" alt="MACBOOK" class="img-fluid">
     </a>
     <a href="category-lap?brand=lenovo" class="logo-img">
          <img src="../../assets/imgs/lenovo.png" alt="LENOVO" class="img-fluid">
     </a>
     <a href="category-lap?brand=acer" class="logo-img">
          <img src="../../assets/imgs/acer.png" alt="ACER" class="img-fluid">
     </a>
     <a href="category-lap?brand=microsoft" class="logo-img">
          <img src="../../assets/imgs/microsoft.png" alt="MICROSOFT" class="img-fluid">
     </a>
     <a href="category-lap?brand=msi" class="logo-img">
          <img src="../../assets/imgs/msi.png" alt="MSI" class="img-fluid">
     </a>
</div>