<footer class="footer-web">
    <div class="footer-wrapper container">
        <div class="row logo-block">
            <div class="logo">
                <p>WA<span style="color: aliceblue;">VI</span></p>
            </div>
        </div>
        <div class="product-block col-lg-4 col-sm-8">
            <div class="title-footer">
                <h4>Sản phẩm</h4>
            </div>
            <div class="row content-footer">
                <ul class="list-fortmat col-6">
                    <li>Laptop Dell</li>
                    <li>Laptop Asus</li>
                    <li>Laptop HP</li>
                    <li>Laptop Lenovo</li>
                    <li>Laptop MSI</li>
                </ul>
                <ul class="list-fortmat col-6">
                    <li>Macbook</li>
                    <li>Laptop Microsoft</li>
                    <li>Laptop Acer</li>
                    <li>Phụ kiện</li>
                </ul>
            </div>
        </div>
        <div class="policy-block col-lg-2 col-sm-4">
            <div class="title-footer">
                <h4>Chính sách</h4>
            </div>
            <div class="content-footer">
                <ul class="list-fortmat">
                    <li>Bảo hành</li>
                    <li>Thanh toán</li>
                    <li>Giao hàng</li>
                    <li>Đổi trả</li>
                </ul>
            </div>
        </div>
        <div class="contact-block col-lg-4 col-sm-8">
            <div class="title-footer">
                <h4>Liên hệ</h4>
            </div>
            <div class="content-footer">
                <ul class="list-fortmat">
                    <li>Hotline: <span>0399.529.209</span></li>
                    <li>Chi nhánh: <span>TP. Hồ Chí Minh</span></li>
                    <li>Địa chỉ: <span>UIT, Song Hành, Khu phố 6, 
                        Linh Trung, Thủ Đức</span></li>
                </ul>
            </div>
        </div>
        <div class="social-block col-lg-2 col-sm-4">
            <div class="title-footer">
                <h4>Mạng xã hội</h4>
            </div>
            <div class="content-footer">
                <div class="link-page">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>             
                </div>
            </div>
        </div>
    </div>
    <div class="about-block">
        <div class="container">
            Nhóm 6: (17520627) Nguyễn Trọng Khanh, (17520722) Nguyễn Thành Luân, (17520720) Nguyễn Song Luân. GVHD: Trần Anh Dũng
        </div>
    </div>
</footer>
