<footer class="footer-web">
    <div class="footer-wrapper container">
        <div class="row">
            <div class="col-sm-6 logo">
                <p>WA<span style="color: aliceblue;">VI</span></p>
            </div>
            <div class="col-sm-6 link-page">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>             
            </div>
        </div>
        <div class="row title-footer">
            <div class="col-sm-2">Sản phẩm</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Chính sách</div>
            <div class="col-sm-4">Liên hệ</div>
            <div class="col-sm-2">Về chúng tôi</div>
        </div>
        <div class="row content-footer">
            <div class="col-sm-2">
                <ul class="list-fortmat">
                    <li>Laptop Dell</li>
                    <li>Laptop Asus</li>
                    <li>Laptop HP</li>
                    <li>Laptop Lenovo</li>
                    <li>Laptop MSI</li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul class="list-fortmat">
                    <li>Macbook</li>
                    <li>Laptop Microsoft</li>
                    <li>Laptop Acer</li>
                    <li>Phụ kiện</li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul class="list-fortmat">
                    <li>Bảo hành</li>
                    <li>Thanh toán</li>
                    <li>Giao hàng</li>
                    <li>Đổi trả</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="list-fortmat">
                    <li>Hotline: <span>0399.529.209</span></li>
                    <li>Chi nhánh: <span>TP. Hồ Chí Minh</span></li>
                    <li>Địa chỉ: <span>UIT, Song Hành, Khu phố 6, 
                        Linh Trung, Thủ Đức</span></li>
                </ul>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</footer>
